.standard{
    width: 100%;
    padding: 0 10px;
}

.header_main {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header_nav ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.header_nav ul li:last-child a {
    font-size: 18px;
    padding: 9px 30px;
}

.header_nav ul li a {
    font-size: 18px;
    padding: 0px 5px;
}

.col1 {
    padding: 60px 0px;
}

.col1_left {
    width: 100%;
    text-align: center;
}

.col1_main {
    flex-wrap: wrap;
}

.col1_left p {
    font-size: 16px;
}

.col1_left h2 {
    font-size: 24px;
}

.col1_left h3 {
    font-size: 18px;
}

.col1_btn {
    margin: 0 auto;
}

.col2 h2,
.col3 h2 {
    font-size: 30px;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.col3 {
    margin: 0px 0px;
}


.item {
    min-width: 200px;
}

.col3_box {
    width: 100%;
}

.col3_main {
    gap: 6px;
}

.col3_inner_box_1 h2 {
    font-size: 14px;
    margin-bottom: 0;
}

.col3_inner_box_1 h4 {
    color: var(--white);
    font-weight: 500;
    font-size: 12px;
}

.col3_inner_box h4{
    font-size: 22px;
}

.swiper-button-next, .swiper-button-prev {
    top: 320px;
}

.col3_box a {
    height: 350px;
}

.col3_box img {
    height: 350px;
    object-fit: cover;
}

.col3_btn {
    width: 55%;
    margin-top: 30px;
}

.col2 {
    padding: 150px 0px;
}

.col2_box {
    padding: 10px;
    width: 100%;
}

.col2_box:before{
    display: none;
}